{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row" id="arco-dashboard">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Arco Generators Ltd
    </h1>


		<p>
			Manage your permits, licences and permissions.</p>
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			<div class="govuk-se-dashboard-row">
				<div class="govuk-se-dashboard--heading">
				<a href="arco-permits-licences" class="govuk-!-font-weight-bold govuk-!-font-size-24">Apply for a new permit</a>
				</div>
				<br>
			</div>
			<p>If you require any advice before making your application you can use our <a href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-an-environmental-permit">pre application service</a> </p>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<div class="govuk-se-dashboard-row">
			<div class="govuk-se-dashboard--heading">
		    <a href="my-applications" class="govuk-!-font-weight-bold govuk-!-font-size-24">My applications</a>
			</div>
			<br>
			<div class="govuk-se-dashboard--info">
				<strong class="govuk-tag govuk-tag--green">
		  		2 in progress
				</strong>
			</div>
		</div>



    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<div class="govuk-se-dashboard-row">
			<div class="govuk-se-dashboard--heading">
		    <a href="arco-permits-licences" class="govuk-!-font-weight-bold govuk-!-font-size-24">My permits</a>
			</div>
			<br>
			<div class="govuk-se-dashboard--info">
				<strong class="govuk-tag govuk-tag--red">
		  		1 due to expire in July
				</strong>
			</div>
		</div>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		<div class="govuk-se-dashboard-row">
			<div class="govuk-se-dashboard--heading">
		    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-24">My notifications</a>
			</div>
			<br>
			<div class="govuk-se-dashboard--info">
				<strong class="govuk-tag govuk-tag--green">
		  		7 new
				</strong>
			</div>
		</div>



		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


		<div class="govuk-se-dashboard-row">
			<div class="govuk-se-dashboard--heading">
		    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-24">Manage my account</a>
			</div>
			<br>
			<div class="govuk-se-dashboard--info">
				<strong class="govuk-tag govuk-tag--green">
		  		 3 active
				</strong>
			</div>
		</div>

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Environmental permits: detailed information</a>
		<hr class="govuk-section-break govuk-section-break--m">
	
		<a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Get advice before you apply for an environmental permit</a>
		<hr class="govuk-section-break govuk-section-break--m">
	
		<a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Get help and support</a>
		<hr class="govuk-section-break govuk-section-break--m">
	
		<a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Give feedback on this service</a>
	   






  </div>
</div>
{% endblock %}
