{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="arco-dashboard">
	<div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-l">
		 Confidentiality and national security
	  </h1>
 
 <h1 class="govuk-heading-s">
 National security
 </h1>

  
	<p>You can tell the Secretary of State that you believe including information on a public register would not be in the interests of national security. You must enclose a letter with your application telling us that you have told the Secretary of State and you must still include the information in your application. We will not include the information in the public register unless the Secretary of State decides that it should be included.
<br><br>
You can find guidance on national security in <a href="www.gov.uk/government/organisations/environment‐agency" class="govuk-link">Environmental permitting guidance: core guidance</a>, published by Defra.
<br><br>
You cannot apply for national security via this application.
<br><br>
</p>


		<div class="govuk-button-group">
		<a class="govuk-button" data-module="govuk-button" href="declaration">Continue</a>
			</div>


		
	  
	</div>
  </div>
{% endblock %}
