{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="arco-dashboard">
	<div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-l">
		 What management system will you provide for your regulated facility?
	  </h1>
  
	
	<h3 class="govuk-heading-s">Note this is not required for a medium combustion plant / specified generator.</h3>

		


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

    <div id="contact-hint" class="govuk-hint">
      Select all systems that are relevant to you.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          ISO 14001
        </label>
      </div>



      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-checkboxes__label" for="contact-2">
          BS 8555 (Phases 1–5)
        </label>
      </div>



      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-checkboxes__label" for="contact-3">
          Green Dragon
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
        <label class="govuk-label govuk-checkboxes__label" for="contact-4">
          Own management system
        </label>
      </div>
    </div>
		
    <div class="govuk-checkboxes__divider"><strong>or</strong></div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
      <label class="govuk-label govuk-checkboxes__label" for="countries-5">
        not required - I have a medium combustion plant / specified generator
      </label>
    </div>

  </fieldset>
</div>

		<a class="govuk-button" data-module="govuk-button" href="combustible">Continue</a>
		  


		
	  
	</div>
  </div>
{% endblock %}
