{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
Arco Generators Ltd
{% endblock %}

{% block beforeContent %}
 

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-form-group">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      My applications
    </h1>
<p>View the status of your permit applications. Select 'view' to see the progress step by step.</p>


    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
          Search for an application
        </label>
      </h1>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
      <a class="govuk-button" href="permit-tracker2">Search</a>
    </div>


  </div>
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Status key
    </span>
  </summary>
  <div class="govuk-details__text">
		<table class="govuk-table">
		  <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="col"></th>
		      <th class="govuk-table__header" scope="col"></th>
		    </tr>
		  </thead>
		  <tbody class="govuk-table__body"> 
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--grey">draft</strong></th>
		      <td class="govuk-table__cell">An application that has been drafted</td>
		    </tr>
	    <tr class="govuk-table__row">
	      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--blue">queued</strong></th>
	      <td class="govuk-table__cell">An application that has been submitted and in the queue to be assessed</td>
	    </tr>     
        <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></th>
		      <td class="govuk-table__cell">An application that has been opened and is being reviewed by an officer</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--turquoise">approved</strong></th>
		      <td class="govuk-table__cell">An application that has been approved</td>
		    </tr>
        <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--red">rejected</strong></th>
		      <td class="govuk-table__cell">An application has been rejected</td>
		    </tr>
      </tbody>
		</table>
  </div>
</details>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Application</th>
      <th class="govuk-table__header app-custom-class" scope="col">Submitted on</th>			
      <th class="govuk-table__header app-custom-class" scope="col">Site</th>
			<th class="govuk-table__header app-custom-class" scope="col">Activity type</th>
      <th class="govuk-table__header app-custom-class" scope="col">Status</th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">APP543XP</th>
      <td class="govuk-table__cell">1 July 2022</td>			
      <td class="govuk-table__cell">Liverpool</td>
      <td class="govuk-table__cell">Stationary Medium Combustion Plant</td>		
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">queued</strong></td>
      <td class="govuk-table__cell"><a href="permit-tracker2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">APP392TR</th>
      <td class="govuk-table__cell">N/A</td>				
      <td class="govuk-table__cell">Warrington</td>
      <td class="govuk-table__cell">Incineration of non-hazardous waste</td>			
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">draft</strong></td>			
      <td class="govuk-table__cell"><a href="permit-tracker2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">APP325RR</th>
      <td class="govuk-table__cell">13 March 2022</td>				
      <td class="govuk-table__cell">Bolton</td>
      <td class="govuk-table__cell">Physical Treatment of hazardous waste</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">rejected</strong></td>
      <td class="govuk-table__cell"><a href="permit-tracker2" class="govuk-link">View</a></td>
    </tr>
  </tbody>
</table>


<p><a href="">Apply for a new permit</a></p>

<p><a href="arco-dashboard.html">Return to your homepage</a></p>




        </main>
      </div>


{% endblock %}
