{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Pay for your application </h1>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-size-36">Amount due: £3100.00</p>
</div>


        <h2 class="govuk-heading-m">Card details</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    Enter number
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Expiry
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 3 2026
    </div>
    <div class="govuk-date-input" id="passport-issued">

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

      </div>
    </div>
  </main>
</div>

		<div class="govuk-button-group">
		<a class="govuk-button" data-module="govuk-button" href="complete">Pay now</a>
			</div>


		
	  
	</div>
  </div>
{% endblock %}
