{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
				Transfer request sent
			</h1>
			<div class="govuk-panel__body">
			  Your reference number<br><strong>TRF-50234</strong>
			</div>
		  </div>
  
		  <p class="govuk-body">We have sent you a confirmation email.</p>
			
			<p class="govuk-body">You can track the progress of your transfer from your homepage.</p>
  
		  <h2 class="govuk-heading-m">What happens next</h2>
  
		  <p class="govuk-body">
			We’ve sent your request to PowerGen Ltd.
		  </p>
		  <p class="govuk-body">
			They will accept or refuse your request, or contact you to ask for more information.
		  </p>
		</div>
	  </div>
	</main>
  </div>

  <p><a href="arco-permits-licences-xfer.html" class="govuk-link">Back to your permits</a></p>

{% endblock %}
