{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="arco-dashboard">
	<div class="govuk-grid-column-full">
	  <h1 class="govuk-heading-l">
		  Tell us the company details
	  </h1>
  
	  <div class="govuk-form-group">
		  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
			  What is the name of the company?
			</label>
		  </h1>
		  <div id="event-name-hint" class="govuk-hint">
			The name that is registered with Companies House
		  </div>
		  <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
		</div>
  
  
		<div class="govuk-form-group">
		  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
			  What is the company number?
			</label>
		  </h1>
		  <div id="event-name-hint" class="govuk-hint">
			The number that is registered with Companies House
		  </div>
		  <input class="govuk-input govuk-!-width-one-third id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
		</div>
  
  
		<a class="govuk-button" data-module="govuk-button" href="permit-mcp-xfer-confirm">Continue</a>
		  
		
	  
	</div>
  </div>
{% endblock %}
