{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row" id="arco-dashboard">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
		Who do you want to transfer permit SP3801PK to?
    </h1>

	  <div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
		  <div class="govuk-radios" data-module="govuk-radios">
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
			  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
				An individual
			  </label>
			</div>
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
			  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
				A Ltd company
			  </label>
			</div>
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
			  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
				An organisation
			  </label>
			</div>
		  </div>
	  
		</fieldset>
	  </div>

	  <a class="govuk-button" data-module="govuk-button" href="permit-mcp-xfer-company">Continue</a>
		
	  
	
  </div>
</div>
{% endblock %}
