
{% macro banner(hasBack) %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}

    {% block beforeContent %}
    {{
             govukPhaseBanner({
              tag: {
                text: "alpha"
              },
              html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
            })
}}
{% if hasBack %}
    <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endif %}

    {% endblock %}

{% endmacro %}
