{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="arco-dashboard">
	<div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-l">
		 Technical ability
	  </h1>
  
<p>Relevant waste operations only – see the <a href="#" class="govuk-link">guidance notes</a>.</p>

<h3 class="govuk-heading-m">ESA / EU skills</h3>
<p>Please indicate which of the two schemes you are using to demonstrate you are technically competent to operate your facility and the evidence you have enclosed to demonstrate this.</p>

<div class="govuk-form-group">

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
					I have a current Competence Management System certificate
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          You can upload or post this in the next step 
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          I am part of a CIWM/WAMITAB scheme
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          You can upload or post this in the next step 
        </div>
      </div>
    </div>
  </fieldset>
</div>


				<a class="govuk-button" data-module="govuk-button" href="technical-ability-CIWM-WAMITAB-scheme">Continue</a>
	  
	</div>
  </div>
{% endblock %}
