{% extends "layout.html" %}
{% import "sections.html" as s %}


{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row" id="arco-dashboard">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
		Specialised modelling
    </h1>
		
		<p>Continue using the  <a href="https://environment.maps.arcgis.com/apps/webappviewer/index.html?id=1911fe5855aa475583af9c298a319b22" class="govuk-link">Water Resources Charging Mapping Tool</a>
			and enter the specialised modelling result.</p>
			<br><br>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          None
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Tier 1
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Tier 2
        </label>
      </div>
    </div>

  </fieldset>
</div>


	<br>
  </div>
</div>




	  <a class="govuk-button" data-module="govuk-button" href="water-supported">Continue</a>
		
{% endblock %}
